form {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

label {
  width: 60%;
  margin: 4px auto;
}

label input {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  border: none;
  border-left: 3px solid silver;
  padding-left: 8px;
}

label input:focus {
  border-left: 3px solid gray;
  outline: none;
}

input[type="submit"], button {
  margin: 0 auto;
  margin-top: 24px;
  padding: 12px 8px;
  font-size: 16px;
  width: 196px;
  background: silver;
  border: none;
}

input[type="submit"]:hover, button:hover {
  background: gray;
}

div.error {
  font-size: 0.8rem;
  color: crimson;
  margin-bottom: 12px;
}

input.ng-invalid.ng-touched, input.ng-invalid.ng-touched:focus {
  border-color: crimson;
}

input.ng-valid.ng-dirty, input.ng-valid.ng-dirty:focus {
  border-color: limegreen;
}