form {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  /* width: 90%; 
  margin: 24px auto; */
}

label {
  width: 60%;
  margin: 4px auto;
}

label input {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  border: none;
  border-left: 3px solid silver;
  border-bottom: 1px hidden silver;
  padding-left: 8px;
}

label input:focus {
  border-left: 3px solid gray;
  margin-left: 8px;
  border-bottom: 1px solid silver;
  outline: none;
}

input[type="submit"], button {
  margin: 12px auto;
  padding: 4px 8px;
  width: 50%;
  border-radius: 4px;
  background: silver;
  border: none;
}

input[type="submit"]:hover, button:hover {
  background: gray;
}

div.error {
  font-size: 0.8rem;
  color: crimson;
  margin-bottom: 12px;
}

input.ng-invalid.ng-touched, input.ng-invalid.ng-touched:focus {
  border-color: crimson;
}

input.ng-valid.ng-touched, input.ng-valid.ng-touched:focus {
  border-color: limegreen;
}