<form [formGroup]="subForm" (ngSubmit)="onSubmit(subForm.value); subForm.reset()">

  <label>
    <input type="text" 
      placeholder="nom"
      [formControl]="subForm.controls['name']"
    >
    <div class="error" *ngIf="subErrors.name">
      {{ subErrors.name }}
    </div>
  </label>

  <label>
    <input type="password" 
      placeholder="mot de passe" 
      [formControl]="subForm.controls['pass']"
    >
    <div class="error" *ngIf="subErrors.pass">
      {{ subErrors.pass }}
    </div>
  </label>

  <label>
    <input type="password" 
      placeholder="confirmez votre mot de passe" 
      [formControl]="subForm.controls['pass2']"
      [ngClass]="{'ng-valid': !subForm.hasError('differentPassword'), 'ng-invalid': subForm.hasError('differentPassword')}"
    >
    <!-- <div class="error" *ngIf="subErrors.pass2">
      {{ subErrors.pass2 }}
    </div> -->
    <div class="error" *ngIf="subForm.hasError('differentPassword') && subForm.controls['pass2'].touched">
      {{ validationMessages.pass2.differentPassword }}
    </div>
  </label>

  <input type="submit" value="Créer l'utilisateur" [disabled]="!subForm.valid">

</form>