span.badge {
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: ghostwhite;
  background: slategray;
  font-weight: bold;
  margin: 4px; 

  /* border-left: 3px solid gray; */
  /* border-right: 3px solid gray; */
  text-align: center;
}

div.container {
  display: flex;
  flex-flow: row nowrap;
}

ul {
  flex-basis: 30%;
  /* width: 320px; */
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
}

ul li div.user {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  height: 48px;
  background: white;
  border-left: 4px solid white;
  margin: 6px 8px;
  /* width: 90%; */
}
ul li div.user p {
  margin: 14px;
}
button {
  font-size: 18px;
  height: 48px;
  background: white;
  border: none;
  border-left: 4px solid white;
  text-align: center;
  font-weight: bold;
  /* width: 90%; */
  margin: 16px 8px;
}

button:focus {
  outline: none;
}

ul li div.user:hover, button:hover {
  border-color: slategray;
  margin-left: 12px;
}

div.login {
  /* margin: 16px; */
  /* border: 2px groove white; */
  padding-top: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

div.login label input {
  font-size: 24px;
  width: 50%;
  line-height: 48px;
  border: none;
  border-left: 3px solid silver;
  margin: 12px;
  padding-left: 8px;
}

div.login label input:focus {
  border-left: 3px solid gray;
  margin-left: 8px;
  border-bottom: 1px solid silver;
  outline: none;
}


subscribe.subzone, div.login {
  width: 100%;
  flex-basis: 70%;
}