<div class="container">
<ul>
  <li *ngFor="let user of userlist" (click)="selectUser(user)">
    <div class="user">
      <span class="badge">{{user.name | slice:0:1}}</span>
      <p>{{user.name}}</p>
    </div>
  </li>
  <button (click)="switchSubForm()">Créer un compte</button>
</ul>

<div *ngIf="selectedUser" class="login">
  <form action="">
    <label>
      <div>{{ selectedUser.name | uppercase }}</div>
      <input type="password" 
        placeholder="mot de passe"
        autofocus
      >
      <div class="error">
        <!-- {{  }} -->
      </div>
    </label>

    <input type="submit" value="Connexion">

  </form>
</div>

<div *ngIf="!selectedUser && !subscribeForm" class="welcome">
  <p>Bienvenue :)</p>
</div>

<subscribe class="subzone" *ngIf="subscribeForm" (subscribeEvent)="subscribeEvent()"></subscribe>
</div>
