div.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

ul {
  flex-basis: 256px;;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
}

ul li div.user {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  height: 48px;
  background: white;
  border-left: 4px solid white;
  margin: 6px 8px;
}
span.badge {
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: ghostwhite;
  background: slategray;
  font-weight: bold;
  margin: 4px;
  text-align: center;
}
ul li div.user p {
  margin: 14px;
}
button {
  font-size: 18px;
  height: 48px;
  background: white;
  border: none;
  border-left: 4px solid white;
  text-align: center;
  font-weight: bold;
  margin: 16px 8px;
}

button:focus {
  outline: none;
}

ul li div.user:hover, button:hover {
  border-color: slategray;
}

.subzone, div.login, div.welcome {
  padding-top: 64px;
  padding-bottom: 64px;
  border: 8px solid white;
  margin: 22px 12px;
  width: 100%;
  flex-basis: 666px;
}

div.login form {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

div.login label {
  width: 60%;
  margin: 4px auto;
}

div.login div {
  margin-left: 32px;
  font-weight: bold;
  font-size: 24px;
  color: slategray;
}

div.login input {
  font-size: 24px;
  width: 100%; 
  line-height: 48px;
  border: none;
  border-left: 3px solid silver;
  margin: 12px 0px;
  padding-left: 8px;
}

div.login input:focus {
  border-left: 3px solid gray;
  outline: none;
}

div.login input[type="submit"] {
  margin: 12px auto;
  font-size: 16px;
  width: 196px;
  background: silver;
  border: none;
}

div.login input[type="submit"]:hover, button:hover {
  background: gray;
}


div.welcome p{
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: white;
}
