/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 999px;
  margin: 0 auto;
  background: whitesmoke;
}

